<h1 class="title is-1" id="mytitle">Parkash product india</h1>
<h2 class="is-capitalized has-text-weight-medium" style="text-align: center;">
  B-20 sector 2 bawana industrial area ,new delhi - 110039
</h2>
<hr />
<ul>
  <li><a href="/">Home</a>|</li>
  <li><a href="/clients">Clients</a>|</li>
  <li><a href="/invoices">Invoices</a>|</li>
  <li><a href="/clientpayment">Payments</a>|</li>
  <li><a href="/clientpayment/ledger">Ledger</a></li>
</ul>
