<h1 class="title is-1">Enter Clients Details</h1>

<form action="/clients" method="post">
  <input
    type="text"
    class="input"
    name="name"
    placeholder="name"
    required
  /><br />
  <input
    type="text"
    class="input"
    name="address"
    placeholder="address"
    required
  /><br />
  <input
    type="text"
    class="input"
    name="statecode"
    placeholder="statecode"
    required
  /><br />
  <input
    type="text"
    class="input"
    name="state"
    placeholder="state"
    required
  /><br />
  <input
    type="text"
    class="input"
    name="gstin"
    placeholder="gstin"
    required
  /><br />
  <input type="submit" class="button is-link" value="submit" />
  <input type="reset" class="button is-success" value="reset" />
</form>
