<h1 class="title is-1">Enter Clients Details</h1>

<form action="/clients" method="post">
  <input type="text" class="input" name="name" placeholder="name" /><br />
  <input type="text" class="input" name="address" placeholder="address" /><br />
  <input
    type="text"
    class="input"
    name="statecode"
    placeholder="statecode"
  /><br />
  <input type="text" class="input" name="state" placeholder="state" /><br />
  <input type="text" class="input" name="gstin" placeholder="gstin" /><br />
  <input type="submit" class="button is-link" value="submit" />
  <input type="reset" class="button is-success" value="reset" />
</form>
