ul li {
  display: inline;
}
ul li a {
  color: dodgerblue;
  font-size: 20px;
  font-weight: 600;
  margin-right: 3px;
}
ul li a:hover {
  color: white;
  background-color: dodgerblue;
  border-radius: 5px;
  padding: 5px;
}
ul {
  margin-top: 5px;
}
#mytitle {
  text-align: center;
  color: #451771;
  font-family: Georgia, "Times New Roman", Times, serif;
}
input[type="text"],
input[type="number"] {
  margin-top: 8px;
}
